<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do Lists</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>{% block headertext %}{% endblock %}</h1>
        <form method="POST" action="{% block formaction %}{% endblock %}">
            <input id="id_new_item" name="item_text" placeholder="Enter a to-do item"/>
            {% csrf_token %}
        </form>
        {% block table %}
        {% endblock %}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>